.main{
  display: flex;
  background-color: aquamarine;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.bottom{
  display: block;
  background-color: aquamarine;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  height: 100px;
  justify-content: space-between;
  text-align: center;
}
.steps{ 
  margin: 0 auto;  
}
.step_number{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  text-align: center;
  align-content: space-evenly;
  margin: 0 auto;
}
.step_name{
  text-align: center;
  margin-top: 10px;
}
.active .step_number{
  background-color: blueviolet;
  color: rgb(255, 255, 255);
}
.complete .step_number{
  background-color: green;
  color: white;
  font-weight: bold;
}
.btn{
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: blueviolet;
  cursor: pointer;
  border: 1px solid #fff;
  color: white;
  border-radius: 5px;
}
.details{
  font-family: 'Arial';
  font-size: 18px;
  font-weight: 600;
  color: rgb(30, 3, 140);
}
.progress_bar{
  position: absolute;
  
  width: 100%;
  left: 0;
  height: 4px;
  background-color: antiquewhite;
}
.progress{
  height: 100%;
  background-color: green;
  transition: 0.25s ease;
  width: 0%;
}
.progress-width{
  height: 100%;
  background-color: green;
  transition: 0.25s ease;
  width: 0%;
}